/****************** start colors ************************/
$main_color:#1384FF;
$border_color:#99999926;
$back_when_hover:#77777717;
$icone_color:#888888db;
$header_color:#777;
$span_in_header_color:#999;